/* CSS Reset */
 body {
     margin: 0;
}
/* Template Slider */
 .section-wrapper {
     max-width: 1100px;
     margin: 0 auto;
     position: relative;
     padding: 0 10px;
}
 .section-wrapper .template-slider {
     font-family: Gothic A1;
     color: #000;
}
 .section-wrapper .template-slider .left-side-text {
     max-width: 445px;
     margin-top: 55px;
     float: left;
}
 .section-wrapper .template-slider .left-side-text .heading {
     font-weight: bold;
     font-size: 28px;
     line-height: 32px;
}
 .section-wrapper .template-slider .left-side-text .description {
     margin-top: 30px;
     font-size: 16px;
     line-height: 24px;
}
 .section-wrapper .template-slider .left-side-text .feature-text {
     text-align: center;
     max-width: 190px;
     margin: 0 auto;
}
 .section-wrapper .template-slider .left-side-text .feature-text .heading {
     color: #111;
     margin-top: 60px;
     font-weight: 500;
     font-size: 22px;
}
 .section-wrapper .template-slider .left-side-text .feature-text .description {
     margin-top: 12px;
     font-size: 14px;
     line-height: 20px;
}
 .section-wrapper .template-slider .right-side-slider {
     margin-top: 35px;
     max-width: 555px;
     float: right;
}
 .section-wrapper .template-slider .right-side-slider .slick-slide {
     width: 555px;
}
 .section-wrapper .template-slider .clear-float {
     clear: both;
}
/* Mobile Template Slider */
 @media (max-width: 1020px) {
     .section-wrapper .template-slider .left-side-text {
         float: none;
         max-width: none;
    }
     .section-wrapper .template-slider .right-side-slider {
         float: none;
         position: absolute;
         left: 50%;
         transform: translate(-50%);
    }
}
 
